.container {
  width: 1440px;
  height: 900px;
  margin: auto;
  background: #668663;
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
}
button {
  outline: none;
  border: none;
}
.centered {
  justify-content: center;
  align-items: center;
}
