.capacity {
  position: absolute;
  bottom: 0;
  right: 40px;
  background: #668663;
  color: #ffffff;
  border-radius: 28px 28px 0 0;
  width: 506px;
  height: 217px - 72px;

  h2 {
    font-size: 50px;
    line-height: 59px;
  }
  p {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
  }
}

.capacity {
  display: flex;
}
