.navButton {
  width: 237px;
  height: 51px;
  background: #567354;
  color: #ffffff;
  border-radius: 52px;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.navButton:hover,
.navButton:active {
  background: #ffffff;
  color: #567354;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
}
.navButton i {
  margin-left: 18px;
  margin-right: 27px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #f3dbc7;
}
.navButton:hover i,
.navButton:active i {
  color: #435f40;
}
