%defaultStyle {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 236px;
  color: #435f40;
  background: #f3dbc7;
  border-radius: 28px;
  margin-right: 33px;

  .image {
    width: 145px;
    height: 145px;
    background: #ffffff;
    border-radius: 85px;
    margin-bottom: 27px;
    margin-top: 35px;

    i {
      font-weight: 900;
      font-size: 48px;
      line-height: 55px;

      color: #d9d9d9;
    }
  }

  .info {
    .general {
      justify-content: space-between;
      padding-right: 24px;
      padding-left: 23px;
    }
    .icons {
      width: 150px;

      margin-left: 16px;
      .fa-venus-mars {
        margin-right: 36px;
      }
      .fa-balance-scale {
        margin-right: 40px;
      }
    }
    .general {
      width: 189px;
      height: 39px;
      background: #dcb18b;
      border-radius: 58px;
      margin-top: 13px;
      margin-bottom: 22px;
      color: #333333;
      font-weight: bold;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
    }

    .icons i {
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
    }

    .giraffeName {
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      margin: 0;
      display: block;
      text-align: center;
    }

    .parameters {
      padding-left: 9px;
      width: 189px;
      padding-bottom: 6px;
      p {
        display: flex;
        font-size: 15px;
        line-height: 18px;
      }
      input {
        width: 100%;
        text-align: left;
      }
      strong {
        margin-right: 5px;
      }
      span {
        display: inline-block;
        font-size: 15px;
        margin-top: 0;
      }
    }
  }
}

.giraffeCard {
  @extend %defaultStyle;
  height: 495px;
  .info .icons {
    margin-top: 31px;
  }
  .parameters p {
    margin-top: 0;
    margin-bottom: 19px;
  }
}

.editCard {
  height: 536px;
  box-shadow: 0px 4px 15px #869cb0;
  .info .icons {
    margin-top: 24px;
  }
  input {
    text-align: center;
    background: transparent;
    border: none;
    width: 100%;
    // border-bottom: 2px solid #435f40;
    &:active {
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }
}

.giraffeCard,
.info .general,
.info .icons,
.image {
  display: flex;
}

.editButton {
  background-color: transparent;
  padding: 0 !important;
  position: absolute;
  right: 23px;
  top: 16px;
  font-size: 18px;
  font-weight: 900;
  color: #435f40;
}
.saveButton {
  background: #b4b4b4;
  border-radius: 33px;
  padding: 0px;
  width: 129px;
  height: 39px;
}
