.editBlock {
  position: absolute;
  left: 189px;
  top: 39px;
  width: 174px;
  height: 94px;
  background: #668663;
  border-radius: 20px;
  padding-top: 15px;
  padding-left: 10px;
  z-index: 2;
  button {
    width: 151px;
    height: 32px;
    background: none;
    align-items: center;
    border-radius: 52px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    // padding-top: 6px;
    padding-left: 13px;
    &:hover {
      background: #567354;
    }

    i {
      font-weight: 900;
      font-size: 16px;

      line-height: 18px;
      margin-right: 8px;
    }
  }
}
