.main {
  width: 1133px;
  height: 876px;
  margin-top: 12px;
  margin-right: 13px;
  background: #ffffff;
  border-radius: 25px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;

  .title {
    display: flex;
    align-items: center;
    margin-left: 56px;
  }
  .title h2 {
    font-weight: bold;
    font-size: 32px;
    color: #668663;
    line-height: 37px;
    margin: 0;
    margin-right: 13px;
  }
}

.addButton {
  display: flex;

  align-items: center;
  width: 37px;
  height: 37px;
  background-color: #668663;
  color: #ffffff;
  border-radius: 52px;
}
