.navBar {
  padding-left: 32px;
  padding-top: 28px;
  color: #ffffff;

  .logo {
    display: flex;
    width: 100%;
    margin-bottom: 55px;
    font-size: 10px;
    line-height: 12px;

    img {
      width: 59px;
      height: 59px;
      padding-left: 2px;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin-left: 8px;
    }
    p {
      font-weight: bold;
      margin: 6px 0;
    }
    span {
      font-weight: 300;
    }
  }
}
